<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <title>Name:Charan Edison Arulraj

    </title>

</head>

<body>

    <div class="header">
    <header >
        <nav>
            <a href="home.html"></a><img class="header-logo" src="https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30" width = 220 height= 100 alt="Website logo"></a>
                <div class="header-cont">
                    <h1>Welcome To Charan's Website!!!
                         </h1>
                    <p> Welcome to the website,In here I will be demonstrating about html5.</p>
                    <div>
                        <ul>
                    <li><a href="home.html" > Home </a></li> 
                    <li><a href="list.html"> List </a></li> 
                    <li><a href="audio.html" > Audio </a></li>  
                    <li><a href="video.html"> Video </a></li> 
                    <li><a href="table.html" > Table </a></li>
                         </ul>
        </div>

        </nav>
    </header>
    <h2>web322 Experice</h2>
    <p> 
        WEB 322 has been intresting since the start of this semester, i have learnt to create websites, using html css and java script,i have already learned this in web222 but in here it is little bit advanced.
        in here i have watched the class recordings, watched vidoes on youtube and used w3 school website.for refrence.
        
    </p>

</div>
<h3> HTML- 5 </h3>
<p> HTML5, or Hypertext Markup Language, is the most recent version of the code that represents online pages. HTML, which gives structure, Cascading Style Sheets (CSS), which handles display, and JavaScript, which makes things happen, are the three types of code..</p>

<h4>
    CSS
    CSS is a language for describing how Web pages are presented, including colours, layout, and fonts. It enables the presentation to be adjusted for different types of devices, such as huge displays, small screens, or printers. CSS may be used with any XML-based markup language and is not dependant on HTML. The separation of HTML and CSS makes it easier to maintain websites, share style sheets across pages, and customise pages for diverse situations. The separation of structure (or: content) from display is referred to as this.
</h4>